#{extends 'main.html' /} #{set title:'Home' /}
<div id="board"></div>
<pre id="ccc" name="ccc"></pre>
<input type="text" id="ttt" name="ttt"/>
<button type="button" onclick="say()">Say</button><button type="button" onclick="clearboard()">Clear Board</button>

<script type="text/javascript">
	var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
	var socket = new WS('@@{Application.WebSocket.draw}');
	socket.onmessage = function(event) {
		console.log(event.data);
		if(event.data=='clear')
		{
			blackboard.clear();
		}
		else if(event.data.charAt(0)=='M')
		{
			freedraw = blackboard.path(event.data);
			freedraw.attr({
				'stroke-width' : 3,
				stroke : 'white'
			});
		}
		else
		{
			console.log(event.data);
			$('ccc').appendText(event.data+'\n', 'top');
		}
	}

	var dragstart = false;
	var path;
	var blackboard = Raphael('board', '100%', '100%');
	var freedraw;

	$('board').addEvent('mousedown', function(e) {
		dragstart = true;
		console.log('onmousedown');
		path = 'M' + e.page.x + ' ' + e.page.y;
		freedraw = blackboard.path(path);
		freedraw.attr({
			'stroke-width' : 3,
			stroke : 'white'
		});
	});

	$('board').addEvent('mouseup', function(e) {
		console.log('onmouseup');
		dragstart = false;
		socket.send(path);
	});

	$('board').addEvent('mousemove', function(e) {
		if (dragstart) {
			console.log('onmousedrag');
			path += 'L' + e.page.x + ' ' + e.page.y;
			freedraw.attr({
				path : path
			});
		}
	});

	function clearboard() {
		console.log('clear');
		blackboard.clear();
		socket.send('clear');
	}
	
	function say()
	{
		socket.send($('ttt').value);
	}
	
</script>